.info {
    margin-top: 5px;
    text-transform: none;
    font-size: 1.3rem;
    line-height: 1.3;
    flex-direction: column;
    align-items: center;
}
.info p{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.info a {
    color: var(--secondary-text-color);
}
@media (max-width: 1024px) {
    .info {
        display: flex;
        align-items: flex-start;
    }
    .info p {
        display: block;
        text-align: left;
        width: 100%;
    }
}
@media (max-width: 568px) {
    .info {
        font-size: 1rem;
        line-height: 1.3;
    }
}